@media screen {
	.dMain {
		margin-top: 0;
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		overflow-y: scroll;
	}

	.posRelative {
		position: relative;
	}

	td {
		margin-right: 20px;
	}

	body {
		background: white;
		font: 62.5% Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
		line-height: 1.4;
		min-height: 100%;
		height: 100%;
		min-width: 996px;
		max-width: 996px;
		margin: 0px auto;
		text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

	#header, #footer {
		display: none;
	}

	a {
		color: #3E7EB7;
		line-height: 1.2em;
		cursor: pointer;
		outline: none;
	}

	a:hover {
		text-decoration: underline;
		color: #3470a5;
	}

	p {
		margin-bottom: 1em;
	}

	img {
		border: none;
	}

	table {
		border-collapse: collapse;
	}

	.box {
		position: relative;
		margin-bottom: 0px;
		height: 100%;
	}

	.frame {
		background: #FFFFFF;
		overflow: hidden;
		padding: 16px 0px 16px 0px;
		height: 100%;
	}

	.top-border {
		border-top: 1px solid #E3E7EA;
	}

	.content {
		color: #333333;
		font-size: 1.5em;
		padding-top: 20px;
	}

	.content h3 {
		margin: 5px 0px 5px 25px;
		padding-bottom: 4px;
		color: #546F84;
		/*color:#4E8BC1 !important;  */
		font-size: 105%;
		font-weight: Normal;
		page-break-after: avoid;
	}

	.content h4 {
		display: inline-block;
		margin: 0px 0px 5px 25px;
		color: #546F84;
		font-size: 90%;
		font-weight: Normal;
		page-break-after: avoid;
	}

	.content ul {
		margin: 0 0 0 0;
	}

	.content ul li {
		margin: 0 0 0 35px !important;
		clear: both;
	}


	ul.list {
		list-style: none;
		margin: 0 0 24px 0;
		padding: 0;
		clear: both;
	}

	ul.list li {
		padding: 0px 5px 16px 16px;
	}

	ul.list li p {
		font-size: 0.9em;
		line-height: 120%;
		margin: 2px 0 2px 0;
	}
}


