<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расчет увлажнителя</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="statico/css/style2.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>
<body style="height: 100%" id="body-tag">

<div id="DivLogoPrint">
    <img id="logoPrint" src="statico/img/logo.png" height="80px">
    <a href="http://www.systemair-ac.ru/" id="logoLink"></a>
</div>
<div class="frame content">
    <!-- part-1 -->
    <div id="part-1" class="box">
        <h1  id="part1-head" style="padding-top: 18px;">Заполнение информации об объекте</h1>
        <form th:action="@{/techdata}" th:object="${projectDto}" method="post">
            <table border="0" cellspacing="0" cellpadding="0" id="project-input" width="100%">
                <tr>
                    <td>Название проекта</td>
                    <td>
                        <input type="number"th:field="*{title}"/>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>Адрес проекта</td>
                    <td>
                        <input type="number"th:field="*{address}"/>
                    </td>
                </tr>
                </tr>
            </table>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <!--  part-2  -->
    <div id="part-2" class="box">
        <h1  id="part2-head">Ввод технических данных</h1>
        <form th:action="@{/techdata}" th:object="${techDataDto}" method="post">
            <table border="0" cellspacing="0" cellpadding="0" id="info-input" width="100%">
                <tr>
                    <td>Расход воздуха</td>
                    <td><!--/*@thymesVar id="airFlow" type=""*/-->
                        <input type="number"th:field="*{airFlow}"/></td>
                </tr>
                <tr>
                    <td>Температура на входа</td>
                    <td><input type="number"th:field="*{tempIn}"/></td>
                    <td>Температура на выходе </td>
                    <td><input type="number" th:field="*{tempOut}"/></td>
                </tr>
                <tr>
                    <td>Влажность на входа</td>
                    <td><input type="number"th:field="*{humIn}"/></td>
                    <td>Влажность на выходе </td>
                    <td><input type="number" th:field="*{humOut}"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Тип расположения парораспределителя</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="typeMontage">
                            <option th:each="r : ${T(ru.systemairac.calculator.myEnum.TypeMontage).values()}"
                                    th:value="${r}" th:text="${r.getTxt()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table th:if="${techDataDto.typeMontage}!=${T(ru.systemairac.calculator.myEnum.TypeMontage).FAN_DISTRIBUTOR.getTxt()}">
                            <tr>
                                <td>Длина</td>
                                <td>Ширина</td>
                            </tr>
                            <tr>
                                <td><input type="number" th:field="${techDataDto.length}"/></td>
                                <td><input type="number" th:field="${techDataDto.width}"/></td>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Выберите тип увлажнителя</h3>
                    </td>
                    <td><h3>Тип цилиндра</h3></td>
                </tr>
                <tr>
                    <td>
                        <select name="humidifierType">
                            <option th:each="r : ${T(ru.systemairac.calculator.myEnum.HumidifierType).values()}"
                                    th:value="${r}" th:text="${r.getTxt()}"></option>
                        </select>
                    </td>
                    <td th:text="${T(ru.systemairac.calculator.myEnum.TypeCylinder).DISMOUNTABLE_CYLINDER.getTxt()}"></td>
                </tr>
                <td th:if="${techDataDto.humidifierType}==${T(ru.systemairac.calculator.myEnum.HumidifierType).HEATING_ELEMENT.getTxt()}" th:text="${T(ru.systemairac.calculator.myEnum.TypeCylinder).DISMOUNTABLE_CYLINDER}">
                    </tr>
                    <tr colspan="2" th:if="${techDataDto.humidifierType}==${T(ru.systemairac.calculator.myEnum.HumidifierType).HEATING_ELEMENT.getTxt()}">
                        <!--            <tr colspan="2">-->
                        <td><h3>Выберите тип воды</h3></td>
                        <td>
                            <select name="TypeWater">
                                <option th:each="r : ${T(ru.systemairac.calculator.myEnum.TypeWater).values()}"
                                        th:value="${r}" th:text="${r.getTxt()}"></option>
                            </select>
                        </td>
                    </tr>
                    <!--                TODO Разобраться как при выборе фазности менять Вольтаж и т.д. скорее всего script-->
                    <tr>
                        <td><h3>Выберите фазность сети</h3></td>
                        <td>
                            <select th:field="${techDataDto.phase}">
                                <option th:value=1 th:text="1"></option>
                                <option th:value=3 th:text="3"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Вольтаж</td>
                        <td th:if="${techDataDto.phase == 1}" th:text="220" th:value="${techDataDto.voltage}">
                        <td th:if="${techDataDto.phase == 3}" th:text="380" th:value="${techDataDto.voltage}">
                    </tr>
            </table>
            <button type="submit">Расчет</button>
        </form>
    </div>
    <!--  part-3  -->
    <div id="part-3" class="box">
        <h1  id="part3-head"> Выбор увлажнителя</h1>
        <span th:if="${himidifiers.size() == 0}">Расчет не выполненен</span>
        <table border="1" th:if="${himidifiers.size() > 0}" class="table table-hover">
            <tr>
                <td>№</td>
                <td>Артикул</td>
                <!--                <td>Вид</td> TODO картинка -->
                <td>Расчетная мощность</td>
                <td>Мощность</td>
                <td>Потребление</td>
                <td>Вольтаж</td>
                <td>Количество цилиндров</td>
                <td>Диаметр парораспределителя</td>
                <td>Цена</td>
            </tr>
            <tr th:each="humidifier : ${himidifiers}">
                <td></td>
                <!--                <td>-->
                <!--                    <input type="radio" th:field="${humidifier}" th:value="${humidifier}" class="custom-control-input">-->
                <!--                </td>-->
                <td th:text="${humidifier.articleNumber}">Articul</td>
                <td th:text="'???'">10</td>
                <td th:text="${humidifier.maxVaporOutput}">10</td>
                <td th:text="${humidifier.electricPower}">11.1</td>
                <td th:text="${humidifier.phase} +'~' +  ${humidifier.voltage}">1~220</td>
                <td th:text="${humidifier.numberOfCylinders}"></td>
                <td th:text="${humidifier.vaporPipeDiameter}"></td>
                <td th:text="${humidifier.price}"></td>
            </tr>
        </table>

        <!--  part-4  -->

        <div>
            <div id="part-4" class="box">
                <h1  id="part4-head" style="padding-top: 18px;"> Выбор опций увлажнителя</h1>
            </div>
        </div>
    </div>

</div>
</div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>