<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${user.getFullName()}">
    Hello, Peter Static!
</p>
<p>
    Your authorisation code:
    <a th:href="@{http://__${host}__:__${port}____${path}__verification(param1=${user.id},param2=${code})}">Code [[${code}]]</a>
</p>

<p>
    <img src="/systemair-ac/statico/img/logo.png" height="80px" alt="">
</p>
<p>
    Regards, <br />
    <em>The IDTeam </em>
</p>
</body>
</html>